.header__inner {
	.menu {
		display: flex;
		justify-content: space-around;
		align-items: center;
        min-height: 85px;

		.menu__wrapper {
			display: flex;
		}
		.menu__list {
			align-items: center;

			.menu__item {
				margin: 0 25px;
			}
		}
	}
}
