.the-button {
    min-width: 200px;
    display: inline-block;
    text-align: center;
    background-color: #1b2235;
    color: #fff;
    text-decoration: none;
    padding: 18px 20px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -.05px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    box-shadow: 0 11px 19px #00000029;
}